[submodule "docs/docs/writing/chinese-copywriting-guidelines"]
	path = docs/docs/writing/chinese-copywriting-guidelines
	url = https://github.com/sparanoid/chinese-copywriting-guidelines.git
[submodule "docs/docs/english/A-Programmers-Guide-to-English"]
	path = docs/docs/english/A-Programmers-Guide-to-English
	url = https://github.com/yujiangshui/A-Programmers-Guide-to-English.git
[submodule "docs/docs/english/English-level-up-tips-for-Chinese"]
	path = docs/docs/english/English-level-up-tips-for-Chinese
	url = https://github.com/byoungd/English-level-up-tips-for-Chinese.git
[submodule "docs/docs/english/everyone-can-use-english"]
	path = docs/docs/english/everyone-can-use-english
	url = https://github.com/xiaolai/everyone-can-use-english.git
[submodule "docs/docs/writing/document-style-guide"]
	path = docs/docs/writing/document-style-guide
	url = https://github.com/ruanyf/document-style-guide.git
[submodule "webpage/jpgramma"]
	path = webpage/jpgramma
	url = https://github.com/pizzamx/jpgramma.git
[submodule "webpage/qfzct"]
	path = webpage/qfzct
	url = https://github.com/bythecode/qfzct-66rpg.git
